@media (min-width:320px) and (max-width:480px){
	.maincontainer
	{
		width:100%;
		margin:0px auto;
	}
	.container1
	{
		width:100%;
		padding-top: 35px;
		padding-bottom: 40px;
		background-size:10px;
	}
	.navbar1
	{
		width:100%;
	}
	.navbar2 
	{
		padding: 0px;
		padding-top:20px;
		text-align: center;
	}
	.navheading
	{
		font-size: 40px;
		margin-left: 0px
	}
	.navcontainer 
	{
		float:none;
		margin: 0px;
     }
	.navcontainer a
	{
		padding: 0px;
		padding-left: 1px;
		font-size: 10px;
	}
	.container1content
	{
		margin:0px auto;
		width:100%;
	}
	.content1 
	{
		font-size: 27px;
    }
	.content2
	{
		font-size: 11px;
		line-height: 17px;
    }
	.container3 a 
	{
		display: inline;
		padding: 5px;
		border-radius: 5px;
	}
	.button1
	{
		font-size: 10px;
	}
	.button2
	{
		font-size: 10px;
	}
	.content4
	{
		font-size:15px;
		padding-left:10px;
	}
	.container5 span
	{
		display:block;
		margin-left: 20px;
		margin-bottom: 20px;
		padding: 5px 5px;
		border: 1px solid var(--colorVLgray);
		border-radius: 20px;
	}
	.container5 span img
	{
		width:55px;
	}
	.container-6
	{
		font-size:15px;
	}
	.container-5
	{
		font-size:20px;
	}
	.content5
	{
		font-size: 14px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.container4
	{
		width:100%;
	}
	.container6
	{
		width:100%;
		margin-bottom: 30px;
	}
	.container6 span
	{
		display:block;
		width: 91%;
		margin-left: 30px;
		margin-top: 25px;
	}
	.container6 span img
	{
		width:100%;
		padding:3px 0px 0px 3px;
		border-radius:5px;
	}
	.content6
	{
		font-size: 30px;
		line-height: 40px;
	}
	.footer
	{
		padding:40px 0px;
		width:100%;
	}
	.column1 
	{
		border-bottom: 1px solid var(--colorMgray);
		width:97%;
		padding:0px 0px 10px 10px;
		margin:0px;
	}
	.column2 
	{
		border-bottom: 1px solid var(--colorMgray);
		width:97%;
		padding:10px 0px 10px 10px;
		margin:0px;
		margin-bottom:10px;
	}
	.column3 
	{
		border-bottom: 1px solid var(--colorMgray);
		width:97%;
		padding:10px 0px 10px 10px;
		margin:0px;
	}
	.title h3 
	{
		font-size: 20px;
	}
	.icons img 
	{
		width:30px;
	}
	.column1-1
	{
	width: 85px;
	}
	.title2
	{
	font-size: 15px;
	}
	.bottom a
	{
	 font-size:10px;
	 margin-left:10px;
	}
	.bottom span 
	{
    font-size: 10px;
	}
	.bottom div
	{
	margin-left: 0px;
	}
}
