:root
	{
	--colorDgray:#3a3a3a;
	--colorMgray:#868686;
	--colorVLgray:#eeeeee;
	--colorLgray:#d5d5d5;
	--colorBlack:#000000;
	--colorBlue:#13a89e;
	--colorLaqua:#c4eded;
	--colorwhite:#ffffff;
	--colorVDgray:#2d2d2d;
	}
*
{
	margin:0px;
	padding:0px;
}

body
	{
	margin:0px;
	font-family:arial;
	}
.maincontainer
	{
	width:1300px;
	margin:0px auto;
	}
.navbar1
	{
	width:100%;
	background:var(--colorDgray);
	}
.navbar2
	{
	padding:25px 30px;
	}
.navheading
	{
	font-size:35px;
	margin-left:40px;
	font-weight:bolder;
	color:var(--colorLgray);
	}
.navcontainer
	{
	float:right;
	margin: 10px;
	}
.navcontainer a
	{
	font-family:arial;
	font-weight:bold;
	text-decoration:none;
	color:var(--colorMgray);
	padding:10px;
	text-transform:uppercase;
	}
.navcontainer a:hover
	{
	color:var(--colorLgray);
	cursor:pointer;
	}
.fclear
	{
	clear:both;
	}
.container1
	{
	background: var(--colorBlue) url("../images/carousel-border.png") repeat-x bottom /15px;
	padding-top:90px;
	padding-bottom:100px;
	}
.container1content
	{
	margin:0px auto;
	width:1064px;
	}
.content1
	{
	font-weight:bolder;
	font-family:arial;
	text-transform:uppercase;
	font-size:70px;
	text-align:center;
	margin: 0px 30px 0px 30px;
	color:var(--colorwhite);
	}
.content2
	{
	font-family:arial;
	color:var(--colorLaqua);
	font-size:23px;
	line-height:30px;
	text-align:center;
	}
.container3
	{
	text-align:center;
	margin-top:10px;
	}
.container3 a
	{
	display:inline-block;
	padding:15px;
	margin:5px;
	border-radius:10px;
	}
.button1
	{
	color:var(--colorDgray);
	font-size:20px;
	width:115px;
	background:var(--colorwhite);
	text-decoration:none;
	transition:1s;
	}
.button2
	{
	color:var(--colorDgray);
	font-size:20px;
	width:144px;
	background:var(--colorwhite);
	text-decoration:none;
	transition:1s;
	}
.button1:hover
	{
	color:var(--colorLgray);
	background:var(--colorDgray);
	box-shadow:5px 8px 20px var(--colorBlack);
	transition:1s;
	}
.button2:hover
	{
	color:var(--colorLgray);
	background:var(--colorDgray);
	box-shadow:5px 8px 20px var(--colorBlack);
	transition:1s;
	}
.container4
	{
	margin:0px auto;
	width:1170px;
	}
.content4
	{
	color:var(--colorDgray);
	font-family:arial;
	font-weight:bolder;
	font-size:30px;
	text-transform:uppercase;
	margin-top:20px;
	margin-bottom:0px;
	padding-bottom:10px;
	border-bottom:1px solid var(--colorVLgray);
	}
.container5
	{
	margin:40px 0px;
	}
.container-5
	{
	font-weight:bolder;
	font-size:30px;
	color:var(--colorDgray);
	text-transform:uppercase;
	}
.container-6
	{
	color:var(--colorDgray);
	}
.container5 span
	{
	display:inline-block;
	font-family:arial;
	font-size:18px;
	text-align:center;
	width:270px;
	margin:8px;
	}
.content5
	{
	color:var(--colorBlue);
	text-decoration:underline;
	}
.content5:hover
	{
	cursor:pointer;
	color:var(--color5);
	transition:1s;
	}
.container6
	{
	margin-bottom:60px;
	padding-bottom:35px;
	border-bottom:1px solid var(--colorVLgray);
	}
.container6 span
	{
	display:inline-block;
	margin-top:40px;
	margin-right:15px;
	border-radius:5px;
	border:1px solid var(--colorVLgray);
	}
.container6 img:hover
	{
	Box-shadow: 10px 30px 100px var(--colorBlack);
	transition:1s;
	}
.content6
	{
	font-weight:bolder;
	font-family:arial;
	text-transform:uppercase;
	font-size:50px;
	text-align:center;
	margin: 50px 30px 50px 30px;
	color:var(--colorDgray);
	}
.footer
	{
	background:var(--colorDgray);
	padding:30px 10px;
	font-family:Arial;
	}
.column1
	{
	float:left;
	margin-left: 50px;
	}
.title img,h3
	{
	float:left;
	}
.title h3
	{
	margin-top: 5px;
	color:var(--colorMgray);
	margin-left: 5px;
	}
.column1-1
	{
	width:130px;
	float:left;
	margin-top: 25px;
	}
.column1-2
	{
	margin-left:20px;
	}
.title3 a
	{
	margin-bottom:10px;
	text-decoration:none;
	color:var(--colorMgray);
	}
.title3
	{
	border-bottom: 1px solid var(--colorMgray);
	margin-bottom: 10px;
	}
.title2
	{
	color:var(--colorMgray);
	margin-top: 25px;
	}
.column2
	{
	float:left;
	width: 35%;
	margin-left: 40px;
	}
.title2-1 img
	{
	float:left;
	}
.icons img
	{
	float:left;
	margin-top: 25px;
	margin-left:10px;
	}
.title3 a:hover
	{
	color:var(--colorLgray);
	}
.icons img:hover
	{
	Box-shadow: 5px 5px 10px var(--colorwhite);
	}
.column3
	{
	float:left;
	margin-left: 40px;
	}
	.bottom
	{
	width:100%;
	font-family:Arial;
	background:var(--colorVDgray);
	padding:15px 0px;
	}
.bottom div
	{
	margin-left:44px;
	}
.bottom a 
	{
	color:var(--colorMgray);
	margin-left:20px;
	text-decoration:none;
	font-size:15px;
	}
.bottom span
	{
	color:var(--colorMgray);
	margin-left:20px;
	}
.title4:hover
	{
	color:var(--colorLgray);
	}